.content-block {
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & span {
    font-size: 2em;
    color: black;
    margin: 0 0 10px 0;
  }

  #registration-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;

    .social-media-login-block {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .fb-login-button {
      }

      .g-signin2 {
      }
    }

    & > * {
      margin: 0 0 10px 0;
      width: 100%;
    }

    & input {
      border: gray 2px;
      border-style: none none solid none;
      padding: 3px;
    }

    & button {
      background-color: lightgray;
      border: black 2px solid;
      border-radius: 20px;
      padding: 5px 0;
      width: 20%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    .content-block {
      flex-direction: column;
    }
  }
}
