* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.container {
  display: flex;
  flex-direction: column;

  .header {
    align-items: center;
    background-color: #111212;
    color: white;
    display: flex;
    font-size: 1.8em;
    min-height: 10vh;
    justify-content: center;

    .logo-image {
      max-width: 10%;
      margin: 0 10px 0 0;
    }
  }

  .main-block {
    display: flex;
    flex: 2;
    flex-wrap: wrap;

    & > * {
      box-sizing: border-box;
      padding: 20px;
      width: 100%;
    }
  }

  .nav-bar {
    background-color: #242626;
    display: flex;
    font-size: 1.2em;
    min-height: 10vh;
    justify-content: space-around;

    & a {
      text-decoration: none;
      color: white;
    }

    & a:hover {
      color: lightgray;
      text-decoration: underline;
    }
  }

  .content-block {
    background-color: #f2f3f5;
    min-height: 60vh;
    box-sizing: border-box;
    color: gray;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    padding: 20px;

    .content-title {
      font-size: 1.4em;
      margin: 0 0 10px 0;
    }

    .content {
      font-size: 1.1em;
    }
  }

  .links-block {
    background-color: #242626;
    font-size: 1.2em;
    min-height: 10vh;
  }

  .footer {
    align-items: center;
    background-color: #111212;
    color: white;
    display: flex;
    font-size: 1em;
    min-height: 10vh;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .container{
    .content-block {
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-block {
    flex-wrap: nowrap;

    .nav-bar {
      width: 15%;
      flex-direction: column;
      justify-content: flex-start;

      & a {
        margin: 0 0 20px 0;
      }
    }

    .content-block {
      min-height: 80vh;
      width: 70%;
    }

    .links-block {
      width: 15%;
    }

    .footer {
      font-size: 1.4em;
    }
  }
}
