@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

$inputs-background: #fafafa;
$inputs-color: #2bc6a4;

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  @include flex-center;
  background-color: #487081;
  height: 100%;

  .form {
    background-color: #eff0f1;
    border-radius: 20px;
    width: 80%;

    .form-top {
      @include flex-center;
      padding: 20px 0;

      .title {
        color: #666;
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    .inputs {
      background-color: $inputs-background;
      color: $inputs-color;
      display: flex;
      flex-wrap: wrap;
      font-size: 1.1em;
      padding: 20px;

      .input-block {
        padding: 5px 10px;
        width: 50%;

        input {
          border: 1px solid gray;
          border-radius: 5px;
          padding: 5px 10px;
          width: 100%;

        }
      }
    }
    .form-bottom {
      @include flex-center;
      justify-content: right;
      padding: 10px 30px;

      button {
        background-color: #00bb92;
        border-radius: 10px;
        color: #e4efec;
        font-size: 1.1em;
        padding: 5px 10px;
      }
    }
  }
}